<!--Header-->
<app-header></app-header>
<!--Add equipment Form-->
<div class="container">
  <form (submit)="addEquipment($event)">
    <div class="py-5 text-center">
      <img class="mb-4" src='../assets/logo.png' width="70" height="70">
      <h1>Receive Equipment</h1>
    </div>

    <div class="form-row">

      <div class="col-sm-6">
        <!-- Name -->
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name">
      </div>
      <div class="col-sm-6">
        <!-- Description -->
        <label>Description</label>
        <input type="text" class="form-control" placeholder="Description">
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-6">
        <!-- Cost -->
        <label>Cost</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <b>R</b>
            </span>
          </div>
          <input type="number" value="0.00 + 0" step="0.01" min="0" class="form-control">
        </div>
        
      </div>
      <div class="col-sm-6">
        <!-- Select Condition -->
        <label>Condition</label>
        <select type="text" class="form-control">
          <option disabled selected>Condition</option>
          <option *ngFor="let c of conditions" value="{{c.ConditionID}}">{{c.ConditionDesc}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">

      
      <div class="col-sm-6">
        <!-- Select Brand -->
        <label>Brand</label>
        <select class="form-control">
          <option disabled selected>Brand</option>
          <option *ngFor="let b of brands" value="{{b.BrandID}}">{{b.BrandDesc}}</option>
        </select>
      </div>
      <div class="col-sm-6">
        <!-- Select Section -->
        <label>Section</label>
        <select class="form-control">
          <option disabled selected>Section</option>
          <option *ngFor="let s of sections" value="{{s.SectionID}}">{{s.SectionDesc}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-6">
        <label>Type</label>
        <select class="form-control">
          <option disabled selected>Type</option>
          <option *ngFor="let t of types" value={{t.TypeID}}>{{t.TypeDesc}}</option>
        </select>
      </div>
      <!--Add picture button-->
        <!--<label> Upload Picture</label>
                      <br>
                      <input type="file" (change)="preview($event)" accept="image/*">
                      <br>
                      <canvas #mycanvas width="150" height="150" style="border: 1px solid blue"></canvas>
                    
                    </div>
                    <div class="col-sm-6">-->
        <!-- Select Date -->
        <div class="col-sm-6">
          <label>Date Received</label>
        <input type="date" class="form-control" placeholder="Section">
      </div>
      
    </div>
    <div class="form-row">
      <div class="col-sm-6">
        <!--Add equipment <button--><br><br>
        <button type="submit" class="btn btn-primary col-lg-15">Add Equipment</button>
      </div>
    </div>
  </form>
</div>
<!--Footer-->
<app-business-footer></app-business-footer>