<!--Header-->
<app-header></app-header>
<!--Reactivate/Deactivate Form-->
<div class="container">
  <form (submit)="updateUser($event)">
    <!--Heading-->
    <div class="py-5 text-center">
      <img class="mb-4" src='../assets/logo.png' width="70" height="70">
      <h1>Update User Status</h1>
    </div>

    <div class="form-row">
      <div class="col-sm-12">
        <!--User Type input-->
        <label>User Type</label>
        <select class="form-control" (change)="userLoad($event.target.value)">
          <option selected>Choose...</option>
          <option *ngFor="let u of userType" value="{{u.UserTypeID}}">{{u.UserTypeDesc}}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col-lg-10">
        <!--Users Select-->
        <label>Users</label>
        <select class="form-control" (change)="status($event.target.value)">
          <option selected>Choose...</option>
          <option *ngFor="let u of users" value="{{u.UserID}}">{{u.FirstName}} {{u.SurName}} - ({{u.Email}})</option>
        </select>
      </div>
      <div class="col-lg-2">
        <!--User Active Status-->
        <label>Status</label>
        <br>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-outline-primary">
            <input type="radio" name="status" [checked]="selectedStatus==1">Active
          </label>
          <label class="btn btn-outline-primary">
            <input type="radio" name="status" [checked]="selectedStatus==0">Inactive
          </label>
        </div>
      </div>
    </div>
    <div class="pt-3">
      <!--Add user button-->
      <button type="submit" class="btn btn-primary col-lg-2">Update User</button>
    </div>
  </form>
</div>
<!--Footer-->
<app-footer></app-footer>