<!--Header-->
<app-header></app-header>
<!--Reactivate/Deactivate Form-->
<div class="container">
  <!--Heading-->
  <div class="py-5 text-center">
  <h1>Manage Users</h1>
  </div>
  <!--Search Input-->
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <span class="oi oi-magnifying-glass"></span>
      </div>
    </div>
    <input type="text" class="form-control" placeholder="Search Name or Surname">
  </div>
  <br>

  <!--Users Table-->
  <table class="table table-responsive-sm table-sm table-hover table-striped">
    <thead><tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
    </tr></thead>
    <tr *ngFor="let u of users">
      <td>{{u.info}}</td>
      <td>{{u.Email}}</td>
      <td>
        <select class="form-control-sm">
          <option *ngFor="let ut of userType" [value]="ut.UserTypeID" [selected]="ut.UserTypeID == u.Type">{{ut.UserTypeDesc}}</option>
        </select>
      </td>
      <td class="text-center">
        <input type="checkbox" name="options" [checked]="u.Status==1" (change)="updateUser(u.UserID,$event.target.checked,u.info)">
      </td>
    </tr>
  </table>
</div>
<!--Footer-->
<app-business-footer></app-business-footer>