<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!--System Name-->
  <div class="navbar-brand">I.M.S</div>

  <!--Navbar Button-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--Navbar Router Links-->
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="navbar-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Equipment
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Add Equipment</a>
          <a class="dropdown-item" href="#">Update Equipment</a>
          <a class="dropdown-item" href="#">Locate Equipment</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="pb-1"></div>