<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand">
            <!--Logo-->
            <img *ngIf="businessLogo" [src]="businessLogo" width="40" height="40">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/dashboard"><span class="oi oi-dashboard"></span>
                        Dashboard</a>
                </li>

                <!--It Admin links go here-->
                <li class="nav-item" *ngIf="userType==1">
        <span class="navbar-link dropdown">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false" role="button" href="#">
            <span class="oi oi-people"></span> Users
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-secondary" routerLink="/Add User"><span class="oi oi-person"></span> Create user</a>
            <a class="dropdown-item text-secondary" routerLink="/Remove User"><span class="oi oi-people"></span> Manage users</a>
          </div>
        </span>
                </li>
                <li class="nav-item" *ngIf="userType==1">
                    <a class="nav-link text-white" routerLink="/BuinessSetting"><span class="oi oi-wrench"></span>
                        Business Settings</a>
                </li>
                <!--It admin Links end here -->

                <!--Section Head links here-->
                <li class="nav-item" *ngIf="userType == 2 || userType == 3">
        <span class="navbar-link dropdown">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false" role="button" href="#">
            <span class="oi oi-box"></span> Equipment
          </a>
          <div class="dropdown-menu dropright" aria-labelledby="navbarDropdownMenuLink">
            <a *ngIf="userType == 3" class="dropdown-item text-secondary" routerLink="/Manage Equipment"><span class="oi oi-box"></span> Manage Equipment</a>
            <a *ngIf="userType == 3" class="dropdown-item text-secondary" routerLink="/Add Equipment"><span class="oi oi-cart"></span> Receive Equipment</a>
            <a class="dropdown-item text-secondary" routerLink="/Install Equipment"><span class="oi oi-wrench"></span> Install Equipment</a>
            <a class="dropdown-item text-secondary" routerLink="/Inspect Equipment"><span class="oi oi-clipboard"></span> Inspect Equipment</a>
              <a class="dropdown-item text-secondary" routerLink="/Maintain Equipment"><span class="oi oi-wrench"></span> Maintain Equipment</a>
          </div>
        </span>
                </li>
                <!--Section Head Links end here-->

                <!-- Section & Technical employee links here-->
                <li class="nav-item" *ngIf="userType == 2 || userType == 3">
                    <a class="nav-link text-white" routerLink="/Tech Manage Equipment"><span
                            class="oi oi-briefcase"></span> Jobs</a>
                </li>
                <!-- Section & Technical employee links end here-->
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/reports"><span class="oi oi-document"></span>
                        Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" data-toggle="modal" data-target="#help" href="">
                        <span class="oi oi-question-mark"></span> Help
                    </a>
                </li>

            </ul>

            <!--User info Loading-->
            <div class="navbar-text dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false" role="button" href="#">
          Hello, {{userName}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-secondary" routerLink="/usersetting"><span class="oi oi-person"></span> Personal Info</a>
          <a class="dropdown-item text-secondary" routerLink="/userpassword"><span class="oi oi-reload"></span> Change password</a>
            <a class="dropdown-item text-secondary" download="policy.pdf" [href]="policy"><span
                    class="oi oi-script"></span> Group Policy</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-secondary" data-toggle="modal" data-target="#logout"
             href=""><span
                  class="oi oi-account-logout"></span> Logout</a>
        </div>
    </div>
        </div>

        <!-- Confirmation Dialog-->
        <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to logout?
                    </div>
                    <div class="modal-footer">
                        <a routerLink="/" class="btn btn-primary col-2" data-dismiss="modal">Yes</a>
                        <button type="button" class="btn btn-outline-primary col-2" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Help-->
        <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Help</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- It Admin Help-->
                        <slideshow *ngIf="userType==1" [height]="'100%'" [minHeight]="'500px'" [autoPlay]="false" [showArrows]="true" [imageUrls]="ItHelp"
                                   [lazyLoad]="ItHelp.length > 1" [autoPlayWaitForLazyLoad]="true" [showDots]="true" [dotColor]="'#007BFF'"></slideshow>

                        <!-- Technical Employee Help-->
                        <slideshow *ngIf="userType==2" [height]="'100%'" [minHeight]="'500px'" [autoPlay]="false" [showArrows]="true" [imageUrls]="TechnicalHelp"
                                   [lazyLoad]="TechnicalHelp.length > 1" [autoPlayWaitForLazyLoad]="true" [showDots]="true" [dotColor]="'#007BFF'"></slideshow>

                        <!-- Section Head Help-->
                        <slideshow *ngIf="userType==3" [height]="'100%'" [minHeight]="'500px'" [autoPlay]="false" [showArrows]="true" [imageUrls]="SectionHelp"
                                   [lazyLoad]="SectionHelp.length > 1" [autoPlayWaitForLazyLoad]="true" [showDots]="true" [dotColor]="'#007BFF'"></slideshow>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>