<app-header></app-header>
<div class="container">
    <h1>Qr Generator</h1>
    <div>
        <qr-code [value]="test" [size]="150"></qr-code>
    </div>
    
    <h1>Qr Reader</h1>
    <div class="input-group">
        <input type="text" class="form-control" [value]="result">
            <div class="input-group-append">
                <div class="input-group-text">
                    <div class="upload-btn-wrapper">
                        <span class="oi oi-camera-slr"></span> Scan
                        <input type="file" accept="image/*" (change)="onFileChange($event)">
                    </div>
                </div>
            </div>
    </div>
</div>