<!--Header-->
<app-header></app-header>
<!--Password Reset Form-->
<div class="container">
  <form (ngSubmit)="password(resetForm)" [formGroup]="resetForm">
    <!--Heading-->
    <div class="py-5 text-center">
      <h1>Reset Password</h1>
    </div>

    <div class="form-row">
      <div class="col-sm-12">
        <!--User Info Load up-->
        <div class="h3">User</div>
        <div class="h4">{{userInfo.FirstName}} {{userInfo.Surname}} - ({{userInfo.Email}})</div>
      </div>

      <div class="col-lg-12">
        <!--New password input field-->
        <label>New Password</label>
        <input type="password" class="form-control" placeholder="New Password" formControlName="password" [class.is-valid]="resetForm.controls['password'].valid" [class.is-invalid]="resetForm.controls['password'].invalid && (resetForm.controls['password'].dirty || resetForm.controls['password'].touched)">
        <ng2-password-strength-bar [passwordToCheck]="resetForm.controls['password'].value" [barColors]="myColors"></ng2-password-strength-bar>
        <div [class.invalid-feedback] = "resetForm.controls['password'].hasError('required')">
          <div *ngIf="resetForm.controls['password'].hasError('required')">
            Password is required.
          </div>
        </div>
        <div [class.invalid-feedback] = "resetForm.controls['password'].hasError('minlength')">
          <div *ngIf="resetForm.controls['password'].hasError('minlength')">
            Password should contain 8 characters.
          </div>
        </div>
        <div [class.invalid-feedback] = "resetForm.controls['password'].hasError('maxlength')">
          <div *ngIf="resetForm.controls['password'].hasError('maxlength')">
            Password should not be more than 20 characters.
          </div>
        </div>
      </div>
    </div>
    <br/>

    <!--Update user button-->
    <button type="button" class="btn btn-primary col-lg-2" data-toggle="modal" data-target="#exampleModalCenter">Reset Password</button>
    <!--Cancel button-->
    <button class="btn btn-outline-primary col-lg-2" (click)="resetForm.reset()">Cancel</button>

    <!-- Confirmation Dialog-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to reset the password?
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="onClick(resetForm)">Save changes</button>
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!--Footer-->
<app-business-footer></app-business-footer>