<!--Header-->
<app-header></app-header>
<!--Password Reset Form-->
<div class="container">
  <form (submit)="password($event)">
    <!--Heading-->
    <div class="py-5 text-center">
      <h1>Reset Password</h1>
    </div>

    <div class="form-row">
      <div class="col-sm-12">
        <!--User Type input-->
        <label>User Type</label>
        <select class="form-control" (change)="userLoad($event.target.value)">
          <option selected>Choose...</option>
          <option *ngFor="let u of userType" value="{{u.UserTypeID}}">{{u.UserTypeDesc}}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col-lg-6">
        <!--Users Select-->
        <label>Users</label>
        <select class="form-control">
          <option selected>Choose...</option>
          <option *ngFor="let u of users" value="{{u.UserID}}">{{u.FirstName}} {{u.SurName}} - ({{u.Email}})</option>
        </select>
      </div>
      <div class="col-lg-6">
        <!--New password input field-->
        <label>New Password</label>
        <input type="password" class="form-control" placeholder="New Password">
      </div>
    </div>
    <div class="pt-3">
      <!--Update user button-->
      <button type="submit" class="btn btn-primary col-lg-2">Reset Password</button>
    </div>
  </form>
  <!--Alerts-->
  <div class="alert alert-danger" role="alert" *ngIf="result==false">
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
  </div>
</div>
<!--Footer-->
<app-business-footer></app-business-footer>