.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 5px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
}