<div class="container">
    <!--Form Start-->
    <form class="form-signin text-center" (submit)=loginCheck($event)>
        <!--Logo-->
        <img class="mb-4" src='../assets/logo.png' width="150" height="150">

        <!--Email Input-->
        <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

        <!--Password Input-->
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

        <!--Remember Me Input-->
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <!--Login Button-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>
<!--Footer Include-->
<app-footer></app-footer>