<div class="container">
    <!--Form Start-->
    <form class="form-signin text-center" (submit)=loginCheck($event)>
        <!--Logo-->
        <img class="mb-4" src='../assets/logo.png' width="150" height="150">

        <!--Email Input-->
        <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span class="oi oi-envelope-closed"></span>
                </div>
            </div>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        </div>

        <!--Password Input-->
        <label for="inputPassword" class="sr-only">Password</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span class="oi oi-key"></span>
                </div>
            </div>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        </div>

        <!--Login Button-->
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
    <!--Alerts-->
    <div class="alert alert-danger" role="alert" *ngIf="status==false">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
    <div class="alert alert-info" role="alert" *ngIf="status==false">
        <strong>Heads up!</strong> Contact admin for further assistance.
    </div>
</div>
<!--Footer-->
<div class="container fixed-bottom">
    <span class="text-muted text-right">©2018 BIT-1</span>
</div>