<div class="container">
    <!--Form Start-->
    <form class="form-signin text-center" (ngSubmit)="loginCheck(loginForm)" [formGroup]="loginForm">
        <!--Logo-->
        <img class="mb-4" *ngIf="logo" [src]="logo" width="150" height="150">

        <!--Email Input-->
        <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span class="oi oi-envelope-closed"></span>
                </div>
            </div>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email" [class.is-valid]="loginForm.controls['email'].valid"  [class.is-invalid]="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
            <div [class.invalid-feedback] = "loginForm.controls['email'].hasError('required')">
                <div *ngIf="loginForm.controls['email'].hasError('required')">Email is required.</div>
            </div>
            <div [class.invalid-feedback] = "loginForm.controls['email'].hasError('pattern')">
                <div *ngIf="loginForm.controls['email'].hasError('pattern')">Check your email format.</div>
            </div>
        </div>

        <!--Password Input-->
        <label for="inputPassword" class="sr-only">Password</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span class="oi oi-key"></span>
                </div>
            </div>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" [class.is-valid]="loginForm.controls['password'].valid" [class.is-invalid]="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
            <div [class.invalid-feedback] = "loginForm.controls['password'].hasError('required')">
                <div *ngIf="loginForm.controls['password'].hasError('required')">Password is required.</div>
            </div>
            <div [class.invalid-feedback] = "loginForm.controls['password'].hasError('minlength')">
                <div *ngIf="loginForm.controls['password'].hasError('minlength')">Password should contain 8 characters.</div>
            </div>
        </div>

        <!--Login Button-->
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>
<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="text-muted float-right">©2018 BIT-1</div>
    </div>
</footer>
