<app-header></app-header>
<div class="container">

    <form (ngSubmit)="installEquipment(installEquipmentForm)" [formGroup]="installEquipmentForm">

        <h1>Install Equipment</h1>
        <hr class="py-2">

        <div class='form-row'>
            <div class="col-lg-6">
                <div>
                    <label>Equipment</label>
                    <div class="input-group">
                        <select class="custom-select" formControlName='serial' [compareWith]="compareFn"
                                [class.is-valid]="installEquipmentForm.controls['serial'].valid"
                                [class.is-invalid]="installEquipmentForm.controls['serial'].invalid && (installEquipmentForm.controls['serial'].dirty || installEquipmentForm.controls['serial'].touched)">
                            <option value="" disabled>Choose...</option>
                            <option *ngFor="let e of equipment" value="{{e.Serial}}">{{e.Name}}</option>
                        </select>

                        <div class="input-group-append">
                            <div class="input-group-text rounded-right">
                                <div class="upload-btn-wrapper">
                                    <span class="oi oi-camera-slr"></span> Scan
                                    <input type="file" accept="image/*" (change)="onFileChange($event)">
                                </div>
                            </div>
                        </div>
                        <div [class.invalid-feedback]="installEquipmentForm.controls['serial'].hasError('required')">
                            <div *ngIf="installEquipmentForm.controls['serial'].hasError('required')">
                                Equipment must be selected.
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <label>Image Upload</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input id='EquipmentImage' #EquipmentImage type="file" class="form-control-file">
                            <label class="custom-file-label" for="EquipmentImage">Choose file</label>
                        </div>
                    </div>
                </div>
                <div>
                    <label>Installation Status:</label>
                    <select class="form-control" formControlName='status'
                            [class.is-valid]="installEquipmentForm.controls['status'].valid"
                            [class.is-invalid]="installEquipmentForm.controls['status'].invalid && (installEquipmentForm.controls['status'].dirty || installEquipmentForm.controls['status'].touched)">
                        <option value="" disabled>Choose...</option>
                        <option *ngFor="let s of status" [value]="s.StatusID">{{s.StatusDesc}}</option>
                    </select>
                    <div [class.invalid-feedback]="installEquipmentForm.controls['status'].hasError('required')">
                        <div *ngIf="installEquipmentForm.controls['status'].hasError('required')">
                            Select Job Status
                        </div>
                    </div>
                </div>
                <div>
                    <label>Install Description</label>
                    <textarea class="form-control" formControlName='desc' placeholder="Install Description"
                              [class.is-valid]="installEquipmentForm.controls['desc'].valid"
                              [class.is-invalid]="installEquipmentForm.controls['desc'].invalid && (installEquipmentForm.controls['desc'].dirty || installEquipmentForm.controls['desc'].touched)"> </textarea>
                    <div [class.invalid-feedback]="installEquipmentForm.controls['desc'].hasError('required')">
                        <div *ngIf="installEquipmentForm.controls['desc'].hasError('required')">
                            Description must be provided.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            Choose Location
                        </h5>
                        <div class="card-text">
                            <div id="mapid" (change)="markerChange($event)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3 col-lg-2" [disabled]="disable">Save</button>
        <button type="button" class="btn btn-outline-primary mt-3 col-lg-2" (click)="locateBack()">Go Back</button>
    </form>
</div>

<app-business-footer></app-business-footer>