<app-header></app-header>
<div class="container">

  <form>
    <div class="py-5 text-center">
      <h1>Install Equipment</h1>
    </div>

    <div class='form-row'>
      <div class="col-6">
        <label>Equipment</label>
        <select class="form-control" *ngFor="let e of equipment">
          <option value="{{e.Serial}}">{{e.Name}}</option>
        </select>
      </div>
      <div class="col-6">
        <label>Image Upload</label>
        <input type="file" class="form-control-file">
      </div>
      <div class="col-12">
        <div class="card mt-3">
          <div class="card-body">
          <h5 class="card-title">
            Choose Location
          </h5>
          <div class="card-text">
            <div id="mapid" (change)="markerChange($event)"></div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </form>
</div>

<app-business-footer></app-business-footer>