<!-- Header-->
<app-header></app-header>

<div class="container">
    <h1>Allocated Jobs</h1>
    <hr class="py-2">

    <!-- Date Filter-->
    <div class="form-control mb-3">
        <div class="row">
            <div class="col-12">
                <h1 class="text-dark float-left">Filter By:</h1>
                <button type="button" class="btn btn-outline-primary mt-2 float-right" (click)="ngOnInit()"><span
                        class="oi oi-reload pt-1"></span> Reset
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--Search Input-->
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="oi oi-magnifying-glass"></span>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Search by Keyword" [(ngModel)]="filter">
                </div>
            </div>
            <div class="col-lg-6">
                <label for="startDate">Start Date</label>
                <input id="startDate" type="date" class="form-control"
                       (change)="dateChange($event.target.value,null,null,null)">
            </div>
            <div class="col-lg-6">
                <label for="endDate">End Date</label>
                <input type="date" id="endDate" class="form-control"
                       (change)="dateChange(null,$event.target.value,null,null)">
            </div>
            <div class="col-lg-6">
                <label for="jobType">Job Type</label>
                <select id="jobType" class="form-control" (change)="dateChange(null,null,$event.target.value,null)">
                    <option value="">Please choose...</option>
                    <option *ngFor="let j of jobType" [value]="j.TypeDesc">{{j.TypeDesc}}</option>
                </select>
            </div>
            <div class="col-lg-6">
                <label for="jobStatus">Job Status</label>
                <select id="jobStatus" class="form-control" (change)="dateChange(null,null,null,$event.target.value)">
                    <option value="">Please choose...</option>
                    <option *ngFor="let s of jobStatus" [value]="s.StatusDesc">{{s.StatusDesc}}</option>
                </select>
            </div>
        </div>
    </div>
    <table class="table table-responsive-sm table-sm table-hover border">
        <tr class="bg-light">
            <th (click)="sort('Name')" class="btn-link">Equipment Name</th>
            <th>Description</th>
            <th (click)="sort('Date')" class="btn-link">Date</th>
            <th (click)="sort('TypeDesc')" class="btn-link">Job Type</th>
            <th>Status</th>
        </tr>
        <tr *ngIf="info.length<=0">
            <td colspan="5" class="text-center">No Job Found</td>
        </tr>
        <tr *ngFor="let i of info  | filter:filter | orderBy: key : reverse | paginate: { itemsPerPage: 10, currentPage: p };">
            <td>{{i.Name}}</td>
            <td>{{i.Desc}}</td>
            <td>{{i.Date}}</td>
            <td>{{i.TypeDesc}}</td>
            <td>{{i.Active}}</td>
        </tr>
    </table>
    <div class="row">
        <div class="col-lg-12">
            <pagination-controls (pageChange)="p = $event" class="my-pagination float-right"
                                 [autoHide]="info.length<=10"></pagination-controls>
        </div>
    </div>
</div>

<!-- Footer-->
<app-business-footer></app-business-footer>