<!--Header-->
<app-header></app-header>
<!--Add User Form-->
<div class="container">
  <form (ngSubmit)="addUser(addUserForm)" [formGroup]="addUserForm">
    <!--Heading-->
    <div class="py-5 text-center">
      <h1>Create New User</h1>
    </div>

    <div class="form-row">
      <div class="col-sm-6">
        <!--First name input-->
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" class="form-control" placeholder="First name" formControlName="name">
      </div>

      <div class="col-sm-6">
        <!--Last name input-->
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="Last name" formControlName="surname">
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-6">
        <!--Date of Birth input-->
        <label>Date of Birth</label>
        <input type="date" class="form-control" formControlName="dob">
      </div>
      <div class="col-sm-6">
        <!--Phone input-->
        <label>Contact Number</label>
        <input type="text" class="form-control" placeholder="Contact Number" [class.is-invalid]="phoneCheck == true" formControlName="contact">
        <div class="invalid-feedback">
          It seems this phone number exists on our system.
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-6">
        <!--Email input-->
        <label>Email Address</label>
        <input type="email" class="form-control" placeholder="Email address" [class.is-invalid]="emailCheck == true" formControlName="email">
        <div class="invalid-feedback">
          It seems this email exists on our system.
        </div>
      </div>
      <div class="col-sm-3">
        <!--Password input-->
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
      </div>
      <div class="col-sm-3">
        <!--User Type input-->
        <label>User Type</label>
        <select class="form-control" formControlName="type">
          <option selected>Choose...</option>
          <option *ngFor="let u of userType" value="{{u.UserTypeID}}">{{u.UserTypeDesc}}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-12">
        <!--Address input-->
        <label>Address</label>
        <input type="text" class="form-control" placeholder="1234 Main St" formControlName="address1">
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-12">
        <!--Address 2 input-->
        <label>Address 2</label>
        <input type="text" class="form-control" placeholder="Apartment, studio, or floor" formControlName="address2">
      </div>
    </div>

    <div class="form-row">
      <div class="col-lg-6">
        <!--City input-->
        <label>City</label>
        <select class="form-control" (change)="subLoad($event.target.value)" formControlName="city">
          <option selected>Choose...</option>
          <option *ngFor="let c of cities" value="{{c.cityID}}">{{c.cityName}}</option>
        </select>
      </div>
      <div class="col-lg-6">
        <!--Suburb input-->
        <label>Suburb</label>
        <select class="form-control" formControlName="suburb">
          <option selected>Choose...</option>
          <option *ngFor="let s of suburbs" value="{{s.suburbID}}">{{s.suburbName}}</option>
        </select>
      </div>
    </div>

    <div class="pt-3">
      <!--Add user button-->
      <button type="submit" class="btn btn-primary col-lg-2">Add User</button>
    </div>
  </form>
</div>
<!--Footer-->
<app-business-footer></app-business-footer>