<!--Header-->
<app-header></app-header>
<!--Update User Settings Form-->
<div class="container">
  <form (submit)="onSubmit()">
    <!--Heading-->
    <div class="py-5 text-center">
      <h1>Business Information</h1>
    </div>

    <div class="form-row">

    </div>
      <div class="pt-3">
        <!--Add user button-->
        <button type="submit" class="btn btn-primary col-lg-2">Update Information</button>
      </div>
  </form>
</div>
<!--Footer-->
<app-business-footer></app-business-footer>
