<app-header></app-header>
<div class="container">
  <form>
      <div class="py-5 text-center">
          <img class="mb-4" src='../assets/logo.png' width="70" height="70">
          <h1>Allocate Equipment</h1>
        </div>
        <div class="form-row">
          <div class="col-12">
              <h4 style="text-align: center">List of equipment</h4>
              <table class="table table-responsive-sm table-sm table-hover">
                  <thead>
                      <tr class="bg-light">
                          <th>ID</th>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Cost</th>
                          <th>Brand</th>
                          <th>Type</th>
                          <th>Condition</th>
                          <th colspan=5>Assign user</th>
                      </tr>
                      <tr *ngFor="let e of equipment">
                              <td >{{e.EquipmentID}}</td>
                              <td>{{e.Name}}</td>
                              <td>{{e.Desc}}</td>
                              <td>{{e.Cost|currency}}</td>
                              <td>{{e.BrandDesc}}</td>
                              <td>{{e.TypeDesc}}</td>
                              <td>{{e.ConditionDesc}}</td>
                              <td colspan=5>
                                  <select class="form-control" width="100" (change)="allocateEquipment($event,e.EquipmentCondition,e.Cost,e.EquipmentID)">
                                      <option disabled selected>Select Technical Employee</option>
                                      <option *ngFor="let t of techEmployees" [value]="t.UserID" >{{t.TechEmployee}}</option>
                                    </select>
                              </td>
                          </tr>
                  </thead>
              </table>
          </div>
        </div>
    
</form>
</div>
<!--Footer-->
<app-business-footer></app-business-footer>