<app-header></app-header>
<div class="container">
    <form (ngSubmit)="allocateEquipment(allocateEquipmentForm)" [formGroup]="allocateEquipmentForm">
        <h1>Allocate Job</h1>
        <hr class="py-2">

        <div class="form-row">
            <div class="col-lg-4">
                <!--Current Logo-->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Current Image</h5>
                    </div>
                    <img class="card-img-bottom" *ngIf="equipmentPicture" [src]="equipmentPicture">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="col-12">
                    <label>Serial: </label>
                    <input type="text" class="form-control" formControlName="serial" value="{{equipment.Serial}}"
                           readonly>
                </div>
                <div class="col-12">
                    <label>Name: </label>
                    <input type="text" class="form-control" formControlName="name" value="{{equipment.Name}}"
                           readonly>
                </div>
                <div class="col-12">
                    <label>Allocation Type: </label>
                    <select class='form-control' formControlName="allocation"
                            [class.is-valid]="allocateEquipmentForm.controls['allocation'].valid"
                            [class.is-invalid]="allocateEquipmentForm.controls['allocation'].invalid && (allocateEquipmentForm.controls['allocation'].dirty || allocateEquipmentForm.controls['allocation'].touched)">
                        <option value="" disabled selected>Select Allocation Type</option>
                        <option *ngFor="let a of allocationTypes" value="{{a.TypeID}}">{{a.TypeDesc}}</option>
                    </select>
                    <div [class.invalid-feedback]="allocateEquipmentForm.controls['allocation'].hasError('required')">
                        <div *ngIf="allocateEquipmentForm.controls['allocation'].hasError('required')">
                            Allocation type must be selected.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="desc">Description:</label><br>
                    <textarea id="desc" class='form-control' formControlName="desc" [class.is-valid]="allocateEquipmentForm.controls['desc'].valid"
                              [class.is-invalid]="allocateEquipmentForm.controls['desc'].invalid && (allocateEquipmentForm.controls['desc'].dirty || allocateEquipmentForm.controls['desc'].touched)"></textarea>
                    <div [class.invalid-feedback]="allocateEquipmentForm.controls['desc'].hasError('required')">
                        <div *ngIf="allocateEquipmentForm.controls['desc'].hasError('required')">
                            Description is required.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <label for="techemp">Technical Employee: </label>
                    <select id="techemp" class='form-control' formControlName='user'
                            [class.is-valid]="allocateEquipmentForm.controls['user'].valid"
                            [class.is-invalid]="allocateEquipmentForm.controls['user'].invalid && (allocateEquipmentForm.controls['user'].dirty || allocateEquipmentForm.controls['user'].touched)">
                        <option value=""  disabled selected>Select Technical Employee</option>
                        <option *ngFor="let t of techEmployees" value="{{t.UserID}}">{{t.TechEmployee}}</option>
                    </select>
                    <div [class.invalid-feedback]="allocateEquipmentForm.controls['user'].hasError('required')">
                        <div *ngIf="allocateEquipmentForm.controls['user'].hasError('required')">
                            Employee required.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary mt-3 col-lg-2">Allocate</button>
                    <button type="button" class="btn btn-outline-primary mt-3 col-lg-2" (click)="locateBack()">Go Back</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Footer-->
<app-business-footer></app-business-footer>