<!-- Header-->
<app-header></app-header>

<!-- Install Equipment Form-->
<div class="container">
    <form (ngSubmit)="inspectEquipment(inspectEquipmentForm)" [formGroup]="inspectEquipmentForm">
        <h1>Inspect Equipment</h1>
        <hr class="py-2">

        <div class="form-row">
            <div class="col-lg-6">
                <label>Equipment</label>
                <div class="input-group">
                    <select class="custom-select" formControlName='equipmentSerial' [compareWith]="compareFn"
                            (change)="individualEquipmentLoad($event.target.value)"
                            [class.is-valid]="inspectEquipmentForm.controls['equipmentSerial'].valid"
                            [class.is-invalid]="inspectEquipmentForm.controls['equipmentSerial'].invalid && (inspectEquipmentForm.controls['equipmentSerial'].dirty || inspectEquipmentForm.controls['equipmentSerial'].touched)">
                        <option value="" disabled>Choose...</option>
                        <option *ngFor="let e of equipment" value="{{e.Serial}}">{{e.Name}}</option>
                    </select>
                    <div class="input-group-append">
                        <div class="input-group-text rounded-right">
                            <div class="upload-btn-wrapper">
                                <span class="oi oi-camera-slr"></span> Scan
                                <input type="file" accept="image/*" (change)="onFileChange($event)">
                            </div>
                        </div>
                    </div>
                    <div [class.invalid-feedback]="inspectEquipmentForm.controls['equipmentSerial'].hasError('required')">
                        <div *ngIf="inspectEquipmentForm.controls['equipmentSerial'].hasError('required')">
                            A equipment must be selected.
                        </div>
                    </div>
                </div>

                <label>Reason for inspection</label>
                <textarea class="form-control" formControlName='description' readonly></textarea>

                <label>Inspection Description</label>
                <textarea class="form-control" formControlName='description2'
                          [class.is-valid]="inspectEquipmentForm.controls['description2'].valid"
                          [class.is-invalid]="inspectEquipmentForm.controls['description2'].invalid && (inspectEquipmentForm.controls['description2'].dirty || inspectEquipmentForm.controls['description2'].touched)"></textarea>
                <div [class.invalid-feedback]="inspectEquipmentForm.controls['description2'].hasError('required')">
                    <div *ngIf="inspectEquipmentForm.controls['description2'].hasError('required')">
                        Inspection Description is required.
                    </div>
                </div>
                <div [class.invalid-feedback]="inspectEquipmentForm.controls['description2'].hasError('maxlength')">
                    <div *ngIf="inspectEquipmentForm.controls['description2'].hasError('maxlength')">
                        Inspection Description may only be 100 characters.
                    </div>
                </div>

                <label>Equipment Value</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><b>R</b></div>
                    </div>
                    <input placeholder="Value" type="text" formControlName="equipmentValue"
                           class="form-control rounded-right"
                           [class.is-valid]="inspectEquipmentForm.controls['equipmentValue'].valid"
                           [class.is-invalid]="inspectEquipmentForm.controls['equipmentValue'].invalid && (inspectEquipmentForm.controls['equipmentValue'].dirty || inspectEquipmentForm.controls['equipmentValue'].touched)">
                    <div [class.invalid-feedback]="inspectEquipmentForm.controls['equipmentValue'].hasError('required')">
                        <div *ngIf="inspectEquipmentForm.controls['equipmentValue'].hasError('required')">
                            Value may not be empty.
                        </div>
                    </div>
                </div>

                <label>Condition</label>
                <select class="form-control" (change)="addCondition($event.target.value)"
                        formControlName="equipmentCondition" [compareWith]="compareFn"
                        [class.is-valid]="inspectEquipmentForm.controls['equipmentCondition'].valid"
                        [class.is-invalid]="inspectEquipmentForm.controls['equipmentCondition'].invalid && (inspectEquipmentForm.controls['equipmentCondition'].dirty || inspectEquipmentForm.controls['equipmentCondition'].touched)">
                    <option value="" disabled>Choose...</option>
                    <option *ngFor="let c of condition" value="{{c.ConditionID}}">{{c.ConditionDesc}}</option>
                    <option value="addCondition">Add New Condition</option>
                </select>
                <div [class.invalid-feedback]="inspectEquipmentForm.controls['equipmentCondition'].hasError('required')">
                    <div *ngIf="inspectEquipmentForm.controls['equipmentCondition'].hasError('required')">
                        Condition must be selected.
                    </div>
                </div>

                <label>Inspection Status:</label>
                <select class="form-control" formControlName='inspectionStatus'
                        [class.is-valid]="inspectEquipmentForm.controls['inspectionStatus'].valid"
                        [class.is-invalid]="inspectEquipmentForm.controls['inspectionStatus'].invalid && (inspectEquipmentForm.controls['inspectionStatus'].dirty || inspectEquipmentForm.controls['inspectionStatus'].touched)">
                    <option value="" disabled>Choose...</option>
                    <option *ngFor="let s of status" [value]="s.StatusID">{{s.StatusDesc}}</option>
                </select>
                <div [class.invalid-feedback]="inspectEquipmentForm.controls['inspectionStatus'].hasError('required')">
                    <div *ngIf="inspectEquipmentForm.controls['inspectionStatus'].hasError('required')">
                        A status must be selected.
                    </div>
                </div>

                <label>Condition Picture</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input id="conditionPicture" #conditionPicture type="file" class="form-control-file"
                               accept="image/jpeg,image/png" (input)="png=$event.target.value">
                        <label class="custom-file-label" for="conditionPicture">{{png.slice(12)}}</label>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card mt-1">
                    <div class="card-body">
                        <h5 class="card-title">Latest Condition</h5>
                        <img class="card-img-bottom" id="currentCondition" *ngIf="image" [src]="image">
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Installed Location
                        </h5>
                        <div class="card-text">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3 col-lg-2">Save</button>
        <button type="button" class="btn btn-outline-primary mt-3 col-lg-2" (click)="locateBack()">Go Back</button>
    </form>
</div>

<!-- Footer-->
<app-business-footer></app-business-footer>