<app-header></app-header>
<div class="container">
    <form>
        <div class="py-5 text-center">
            <h1>Manage Equipment</h1>
        </div>
        <!--Search Input-->
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span class="oi oi-magnifying-glass"></span>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Search by keyword" [(ngModel)]="filter" name="search">
            <div class="input-group-append">
                <div class="input-group-text">
                    <div class="upload-btn-wrapper">
                        <span class="oi oi-camera-slr"></span> Scan
                        <input type="file" accept="image/*" (change)="onFileChange($event)">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-12">
                <h4>List of equipment</h4>
                <table class="table table-responsive-sm table-sm table-hover">
                    <thead>
                    <tr class="bg-light">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Condition</th>
                        <th>Section</th>
                        <th>Active</th>
                        <th>Status</th>
                        <th>Allocate</th>
                        <th>Update</th>
                        <th>Print QrCode</th>
                    </tr>
                    <tr *ngFor="let i of info | filter:filter | paginate: { itemsPerPage: 10, currentPage: p };">
                        <td>{{i.EquipmentID}}</td>
                        <td>{{i.Name}}</td>
                        <td>{{i.Desc}}</td>
                        <td>{{i.ConditionDesc}}</td>
                        <td>{{i.SectionDesc}}</td>
                        <td>
                            <ui-switch color="#007BFF" size="small" [checked]="i.Active==1"
                                       (change)='activeEquipment($event,i.EquipmentID,i.Name,i.Serial)'></ui-switch>
                        </td>
                        <td>{{i.StatusDescription}}</td>
                        <td><a routerLink="/Allocate Equipment/{{i.EquipmentID}}" class="btn btn-sm btn-outline-primary">Allocate job</a></td>
                        <td><a routerLink="/Update details/{{i.EquipmentID}}" class="btn btn-sm btn-outline-primary">Update details</a></td>
                        <td><a routerLink="/qr/{{i.Serial}}" class="btn btn-sm btn-outline-primary">Qr Code</a></td>
                    </tr>
                    </thead>
                </table>
                <div class="row">
                    <div class="col-lg-12">
                        <pagination-controls (pageChange)="p = $event" class="my-pagination float-right"
                                             [autoHide]="info.length<=10"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<app-business-footer></app-business-footer>